body 
{
  background-image: url('wordfons.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}


table, th, td 
{
  border: 1px solid black;
border-collapse: collapse;
border-style: dotted;
}
table, th, td 
{
vertical-align: middle;
}